.heroSection{
  /* background-color: var(--color-turkeyRed-90); */
  background-image: url('assets/images/hero-Phoodie.webp');
  background-size: cover;
  background-position-y: center;
  padding-top: calc(var(--navbar-height)*1.75);
  padding-bottom: calc(var(--navbar-height)*2);
}
/* @media (orientation: portrait) {
  .heroSection {
    padding-bottom: calc(var(--navbar-height)*1);
  }
} */

.specialsTitle{
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 50px;
  padding-top: 50px;
  font-size: 1.25rem;
  font-family: var(--family-h1-h2-h3);
  font-weight: 600;
  color: var( --color-wenge);
}

/* .specialsSection{
  display: flex;
  width: 100%;
  justify-content:center;
  flex-wrap: wrap;
  gap:5rem;
  height: auto;
  padding-bottom:4rem;
} */

.testimonialTitle{
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-family: var(--family-h1-h2-h3);
  font-size: 2.25rem;
  font-weight: 500;
  flex-wrap: wrap;
  align-items: center;
  background-color: var( --color-turkeyRed);
  color: var( --color-parchment);
  padding-top:4rem;
}

.testimonialSection{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap:2rem;
  align-items: center;
  min-height: 400px;
  background-color: var( --color-turkeyRed);
  padding-bottom:4rem;
  padding-top:4rem;
}

.reservationsSection{
/*   display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var( --color-turkeyRed);
  max-width:100%;
  min-width: 400px; */
  padding-top:2rem;
  padding-bottom:2rem;
  text-align: center;
  color: var( --color-turkeyRed)
}

.confirmationSection{
  /*   display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var( --color-turkeyRed);
    max-width:100%;
    min-width: 400px; */
    padding-top:2rem;
    padding-bottom:2rem;
    text-align: center;
    color: var( --color-turkeyRed)
  }
  
.orderOnlineSection{
  background-color: var( --color-turkeyRed);
  justify-content: center;
  align-items: center;
  max-width:100%;
  min-width: 400px;
  padding-top:2rem;
  padding-bottom:2rem;
  text-align: center;
  color: var( --color-white);
}

/* .aboutSection{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width:100%;
  padding-top:2rem;
  padding-bottom:2rem;
} */










.dslc-section-divider {
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
  top: -1px;
  line-height: 0;
  overflow: hidden;
}

.dslc-section-divider[data-divider-pos="top"] {
  top: 1px;
}
.dslc-section-divider[data-divider-pos="bottom"] {
  top: calc(-0.99 * var(--navbar-height) * var(--multiplier));
}

.dslc-section-divider.dslc-flip-hor svg {
  transform: scaleX(-1);
}
.dslc-section-divider.dslc-flip-ver svg {
  transform: scaleY(-1);
}