/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sora';
  src: url('fonts/Sora-variable-wght.ttf');
  font-weight: 100 900;
}

body:has(div.preventScroll){
  overflow: hidden;
  height: 100vh;
}

:root {
  /* --primary-color: #FF2F00; */
  /* --primaryDark-color: #B30000;  */
  /* --secondary-color: #FFAF00; */
  /* --backdrop-color: #F3F3F3; */
  /* --text-color: #504746; */
  /* --secondaryText-color: #867675; */
  --navbar-height: 70px;
  --multiplier: 1;
  --border-radius: 6px;
  --family-h1-h2-h3: 'Sora', sans-serif;
  --family-p-a: 'Noto Sans';

  --color-white: #ffffff;
  --color-parchment: #fefbee;
  --color-whiteSmoke: rgb(243, 243, 243);
  --color-whiteSmoke-90: rgba(243, 243, 243, 0.9);
  --color-platinum: #E5E7E6;
  --color-silver: #A2A2A2;
  --color-gray: #808080;
  --color-wenge: #504746;
  --color-jetBlack: #333333;
  --color-whiteChilly: #fcd1c7;
  --color-scarletChilly: #FF2F00;
  --color-scarletChilly-50: rgba(255, 47, 0, 0.5);
  --color-turkeyRed: #B30000;
  --color-turkeyRed-90: rgba(179, 0, 0, 0.9);
  --color-turkeyRed-75: rgba(179, 0, 0, 0.75);
  --color-turkeyRed-50: rgba(179, 0, 0, 0.5);
  --color-orangeWeb: rgb(255, 175, 0);
  --color-orangeWeb-90: rgba(255, 175, 0, 0.99);
}
@media (max-width: 1024px) {
  :root {
    --navbar-height: 58px;
    --multiplier: 0.75;
  }
  @media (max-width: 768px) {
    :root {
      --navbar-height: 58px;
      --multiplier: 0.35;
    }
  }
}

body {
  background-color: var(--color-whiteSmoke);
}

.spacer {
  height: var(--navbar-height);
}

html {
  scroll-padding-top: var(--navbar-height);
}

.h-screen-adj {
  height: calc(100vh - var(--navbar-height));
}

.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.navbar-shadow {
  /* box-shadow: 0 20px 30px 0px rgb(245 245 245 / 0.95), 0 0px 30px 0px rgb(245 245 245 / 0.95); */
  box-shadow: 0 20px 30px 0px rgb(0 0 0 / 0.1), 0 0px 30px 0px rgb(0 0 0 / 0.05);
}


footer {
  font-family: var(--family-p-a);
  font-size: 0.8rem;
  font-weight: 400;
  color: var( --color-whiteSmoke);
}
footer h4 {
  font-family: var(--family-h1-h2-h3);
  font-size: 1rem;
  font-weight: 600;
  color: var( --color-platinum);
  padding-bottom: 1.1rem;
}
footer a {
  font-size: 0.85rem;
  font-weight: 400;
  color: var( --color-whiteSmoke);
}
footer a:hover {
  color: var( --color-white);
  text-decoration: underline;
}





.showBorder {
  border: 1px green solid;
}