.menuOutter {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  padding: 25px;
  background-color: var(--color-turkeyRed);
  border-radius: 1px;
  /* border: solid red; */
}

.menuInner {
  max-width: 850px;
  padding: 25px;
  background-color: var(--color-whiteSmoke);
  border-radius: 2px;
  /* border: solid red; */
}

.menu {
  text-align: center;
  max-width: 800px;
  /* padding: 15px; */
  /* margin: 50px auto; */
  /* margin-top: 75px; */
  background-color: var(--color-turkeyRed);
  border-radius: var(--border-radius);
  /* border: solid red; */

  --s: 10px; /* control the size */
  padding: calc(3*var(--s));
  --_g: #000 1px,#0000 0 calc(100% - 1px),#000 0;
  --_s:  50%/calc(100% - 2*var(--s)) calc(100% - 2*var(--s));
  background: 
    linear-gradient(      var(--_g)) var(--_s) no-repeat,
    linear-gradient(90deg,var(--_g)) var(--_s) no-repeat,
    conic-gradient(from 90deg at 1px 1px,#0000 25%,#000 0)
    calc(2*var(--s)) calc(2*var(--s))/calc(100% - 4*var(--s)) calc(100% - 4*var(--s));
}

.menu h2 {
  color: var(--color-wenge);
  font-family: var(--family-h1-h2-h3);
  font-size: 25px;
  margin-bottom: 10px;
  padding: 5px;
}

.menu-content {
  width: 100%;
  height: 100%;
  /* display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, auto); */
  /* margin-bottom: 10px; */
}

.menu-content-item {
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  /* box-shadow: 0px 0.5px 0px 0.5px rgba(0, 0, 0, 0.1); */
}
/* .menu-content-item:hover {
  box-shadow: -10px 20px 25px -5px rgb(0 0 0 / 0.1), 10px 8px 10px -6px rgb(0 0 0 / 0.1);
} */

/* .menu-content-item div p:nth-child(1) {
  font-family: var(--family-h1-h2-h3);
  font-size: var(--h3-sbhd-md);
  color: var(--color-jetBlack);
} */

.menu-content-item h3 {
  max-width: 500px;
  text-align: left;
  font-family: var(--family-h1-h2-h3);
  font-size: 1.35rem;
  padding: 10px;
}

.menu-content-item p {
  max-width: 500px;
  text-align: left;
  font-family: var(--family-p-a);
  font-size: 1rem;
  color: var(--color-jetBlack);
  padding: 10px;
  margin-right: 15%;
}

.menu-content-item span {
  font-family: var(--family-h1-h2-h3);
  font-size: 1rem;
  color: var(--color-turkeyRed);
  padding: 10px;
}

.menu-content img {
  height: 100px;
  width: 120px;
  background-size: cover;
  object-fit: cover;
  border-radius: 5px;
}

@media (max-width: 430px) {
  .menuOutter {
    padding: 15px;
  }

  .menuInner {
    padding: 10px;
  }

  .menu {
    margin: 10px 2px;
  }

  /* .menu h2 {
    font-size: var(--h2-hd-mb);
  } */
   
  .menu-content-item {
    padding: 25px 10px;
  }

  .menu-content img {
    height: 100%;
    width: 100%;
  }
  .menu-content-item span {
    font-size: 0.9rem;
    padding: 10px 0px;
  }
  .menu-content-item h3 {
    font-size: 1.2rem;
    padding: 10px 0px;
  }
  .menu-content-item p {
    /* text-align: center; */
    font-size: 0.9rem;
    padding: 0px;
    margin-right: 0%;
  }
}